.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

.nav ul{
	margin: 2px;
	display: inline;
}

.nav li {
  display: inline;
  margin: 2px;
}

.jumbotron {
  background-image:url('https://c1.staticflickr.com/5/4055/5134434028_0d3c753733_z.jpg');
  background-repeat: no-repeat;
}

.jumbotron2 .container {
  position: relative;
  top:150px;
  margin-left: 10px;
}

.jumbotron2 .container h1 {
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  color: #fff;
}

.jumbotron2 p {
  font-size: 20px;
  color: #fff;
}
.jumbotron2 a {
  font-size: 20px;
  color: #19A5FF;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

