body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: white;
  background-image: url('../../img/bluebackground2.jpg');
  background-repeat: repeat-y;
}
.transparent{
    background-color: transparent;
    width:780px;
    height:80px;
}