<!doctype html>
<html class="no-js" lang="en" ng-app="website">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melanie's Personal Website</title>
    <link type="text/css" rel="stylesheet" href="css/ResumeStylesheet.css">
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link href="css/AskmeStylesheet.css" rel="stylesheet">
    <script src="foundation/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body>
    <div class="transparent">
        <h3>Melanie Levy-Hara</h3>
    </div>
      <section class="tab" ng-controller="TabController as tab">
        <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1 ng-class="{ active: tab.isSet(1) }">
              <a href ng-click="tab.setTab(1)">My Website!</a>
            </h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li ng-class="{ active: tab.isSet(2) }">
              <a href ng-click="tab.setTab(2)">About Me</a>
            </li>
            <li ng-class="{ active: tab.isSet(3) }" class="has-dropdown">
              <a href ng-click="tab.setTab(3)">Resume</a>
              <ul class="dropdown">
                <li><a href="Resume.html">Qualification Highlights</a></li>
                <li><a href="Resume.html">Co-op Positions</a></li>
                <li><a href="Resume.html">Leadership Positions</a></li>
                <li><a href="Resume.html">Hackathon Projects</a></li>
              </ul>
            </li>
            <li ng-class="{ active: tab.isSet(4) }">
              <a href ng-click="tab.setTab(4)">Contact</a>
            </li>
          </ul>
        </section>
      </nav>
      <div ng-show="tab.isSet(1)">
        <div class="row">
          <div class="large-12 columns">
              <div class="large-6 columns">
                <div class="theme-box1">
                  <img src="img/home/SYDEpic.jpg">
                </div>
              </div>
              <div class="large-6 columns">
                <div class="theme-box2">
                  <a href="http://audatex.ca/careers/"><img src="img/home/audatex.jpg"></a>
                </div>
              </div>
              <div class="transparent2 large-6 columns"></div>
              <div class="large-6 columns">
                <div class="theme-box3">
                  <img src="img/home/mto.jpg">
                </div>
              </div>
          </div>
        </div>
      </div>

      <div ng-show="tab.isSet(2)">
         <h2>About Me</h2>
            <p>Organizations I am dedicated and passionate about.</p>
            <div class="row">
                <div class="medium-4 columns">
                    <div class="theme-box4">
                        <div class="hover panel1">
                            <div class="th front">
                                <div class="bbyo">
                                    <img id="resize" src="img/thumbnails/bbyo.jpg">
                                </div>
                            </div>
                            <div class="th back">
                                <div class="bbyo">
                                    <ul>
                                        <li>Regional President/N'siah</li>
                                        <li>Regional Vice President/S'ganit</li>
                                        <li>Chapter Vice President/S'ganit</li>
                                    </ul>
                                    <p>To learn more about bbyo, click <a href="http://bbyo.ca/about/">here</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="theme-box4">
                        <div class="hover panel1">
                            <div class="th front">
                                <div class="panam">
                                    <img id="resize" src="img/thumbnails/panam.jpg">
                                </div>
                            </div>
                            <div class="th back">
                                <div class="panam">
                                    <p>I hope to volunteer for the Toronto 2015 PanAM Games!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <div class="theme-box4">
                        <div class="hover panel1">
                            <div class="th front">
                                <div class="avenida">
                                    <img id="resize" src="img/thumbnails/avenida.jpg">
                                </div>
                            </div>
                            <div class="th back">
                                <div class="avenida">
                                    <p>Youth Magazine</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="theme-box4">
                        <div class="hover panel1">
                            <div class="th front">
                                <div class="mto">
                                    <img id="resize" src="img/thumbnails/mto.jpg">
                                </div>
                            </div>
                            <div class="th back">
                                <div class="mto">
                                    <p>ministry of transportation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 columns">
                        <div class="theme-box4">
                            <div class="hover panel1">
                                <div class="th front">
                                    <div class="spark">    
                                        <img id="resize" src="img/thumbnails/spark.jpg">
                                    </div>
                                </div>
                                <div class="th back">
                                    <div>
                                        <div class="spark">
                                            <p>A York University Award to participate in a research lab for two months before university</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="theme-box4">
                            <div class="hover panel1">
                                <div class="th front">
                                    <div class="audatex">
                                        <img id="resize" src="img/thumbnails/audatex.jpg">
                                    </div>
                                </div>
                                <div class="th back">
                                    <div class="audatex">
                                        <p>Small software company that deals with auto insurance claims</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
          <!-- <link rel="import" href="AskMe.html"> -->
      </div>

      <div ng-show="tab.isSet(3)">
          <!-- <link rel="import" href="Resume.html"> -->
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#panel1">Qualification Highlights</a>
        <div id="panel1" class="content active">
            <ul>
                <li>Skilled in C++, Javascript, ASP.NET, practiced through course assignments and hackathons</li>
                <li>Experience with SQL, relational databases and creating ETLs to transfer data frameworks</li>
                <li>Knowledgeable in VBA (Excel) and information analysis, gained as a traffic analyst at the MTO</li>
                <li>Proficient in problem solving, attained through several programming projects at work and school</li>
                <li>Excellent communication and interpersonal skills, shown as writing editor of youth magazine </li>
                <li>Excels in a demanding team environment, acquired as the regional president of youth group</li>
            </ul>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2">Work Experience</a>
        <div id="panel2" class="content">
             <dl class="accordion" data-accordion>
                <dd class="accordion-navigation">
                    <a href="#panel11">Software Developer - Audatex (a Solera Company)</a>
                    <div id="panel11" class="content active">
                        <ul>
                            <li>Self-learned SQL and PLSQL to understand the company&#39;s data framework</li>
                            <li>Learned the Scrum Methodology in a team and used the JIRA website to document progress</li>
                            <li>Mapped four large .xml files to an Oracle database using Pentaho</li>
                            <li>Ensured ETLs were maintainable, optimized (by 50% runtime) and documented</li>
                            <li>Used Ruby on Rails to write software for Audatex&#39;s website</li>
                        </ul>
                    </div>
                </dd>
              </dl>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel3">Leadership Positions</a>
        <div id="panel3" class="content">
          <dl class="accordion" data-accordion>
                <dd class="accordion-navigation">
                    <a href="#panel31">Software Developer - Audatex (a Solera Company)</a>
                    <div id="panel31" class="content active">
                        <ul>
                            <li>Self-learned SQL and PLSQL to understand the company&#39;s data framework</li>
                            <li>Learned the Scrum Methodology in a team and used the JIRA website to document progress</li>
                            <li>Mapped four large .xml files to an Oracle database using Pentaho</li>
                            <li>Ensured ETLs were maintainable, optimized (by 50% runtime) and documented</li>
                            <li>Used Ruby on Rails to write software for Audatex&#39;s website</li>
                        </ul>
                    </div>
                </dd>
              </dl>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel4">Education</a>
        <div id="panel4" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel5">Awards and Achievements</a>
        <div id="panel5" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
    </dl>
      
      </div>

    </section>
    <script src="foundation/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/AskMe.js"></script>
    <script src="foundation/js/foundation/foundation.js"></script>
    <script src="foundation/js/foundation/foundation.accordion.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>